

body{

      margin: 0;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content:center;
      background-color: rgba(255, 255, 255, 1);
      font-family: monospace;
      
       transition:all 200ms ease-in-out;
    }
     .cont{
      display: flex;
      flex-direction: column;
      padding: 2em;
      width:70vw;
      justify-content: space-evenly;
      border-style: none;
      height: 500px;
      transform: scale(0.99);
       
      
      animation: slide-in 5s ease-in-out forwards, glow 3s alternate infinite, grow 5s alternate 5s 4;
       
      transition:all 200ms ease-in-out;
    }
      input{
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
    border:1px solid #444;
    padding: 5px;
     transition:all 200ms ease-in-out;
    will-change: transform;
  }
  

  input:focus{
    outline: none;
     box-shadow: 0 0 5px 1px rgba(0, 123, 255, 1);
     transition:all 200ms ease-in-out;
  }
  input:focus-visible{
 outline: none;
     box-shadow: 0 0 5px 1px rgba(0, 123, 255, 1);
      
    transform: scale(1);
    cursor: pointer;
     transition:all 200ms ease-in-out;
           
  }

  label{
    font-size: 18px;
    font-weight: bold;
    will-change: transform;
     transition:all 200ms ease-in-out;
  }
  .submit,.submit2{
    background-color: #007bff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-family: monospace;
    padding: 10px;
    cursor: pointer;
    transition:all 200ms ease-in-out;
    margin-top: 10px;
    position:relative;
  }
  input:hover,
  .submit:hover,
  .submit2:hover,
  label:hover,
  .output:hover,
  .heart:hover,
  img:hover,
  p:hover,
  h1:hover,
  h2:hover{
    
    transform: scale(1);
    cursor: pointer;
     transition:all 200ms ease-in-out;
  
  }
  input,.submit,.submit2,label,.output,.heart,img,h1,p,h2{
    transform: scale(0.95);
     transition:all 200ms ease-in-out;
  }
  
  @keyframes glow {
    0%,100% {
      box-shadow:0 0 15px rgba(0, 123, 255, 0.5);
      
      
         transition:all 200ms ease-in-out;
  
    }
   50%{
         transition:all 200ms ease-in-out;
  
    box-shadow: none ;

    
   }
    
  }
  @keyframes grow {
    0%,100%{
transform: scale(1);
    }
    50%{
transform: scale(0.99);
    }
  }
  @keyframes slide-in {
    from {
      transform: translateY(80px);
      opacity: 0;
      
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
.output{
    font-weight:bold;
    width:auto;
     transition:all 200ms ease-in-out;
}
.submit:focus-visible,.submit2:focus-visible,.heart:focus-visible{

    transform: scale(1);
    cursor: pointer;
    transition: transform 0.15s ease;
    outline:none;   
}
img{
    height:130px;
    width:130px;
    border-radius:50%;
    margin-top: 10px;
}
.whatsapp{
   height:40px;
    width:40px;
    border-radius: 0;
    margin-top: 0;
    animation:pulse1 1s ease-in-out alternate infinite ;
}
@keyframes pulse1 {
  from{
    height:40px;
    width:40px;
  }
  to {
    height:50px;
    width:50px;
  }
}
.whatsapp:hover{
  animation-play-state: paused;
}
.img-cont{
  display: flex;
  align-items: center;
  justify-content: center;
 }

 p{
  font-weight:bold;
  font-family: monospace;
  font-size: 1rem;
}
p,h1,h2{
   margin-left:10px;

 }
.heart{
    border:none;
    margin-left: 3%;
    background-color: white;
  font-size: 20px;
    position: relative;
    text-align: start;
    width:45px;
    height: 40px;
    transition: all 200ms ease-in-out;
    animation:pulse 700ms alternate 6;
  }
  
  @keyframes pulse {
    from{
      font-size: 20px;
    }
    to {
      font-size: 25px;
    
      }
    
}
.heart:hover{
    animation-play-state: paused;
    cursor:pointer;
}


.heart:hover::after{
    content: "";
    position: absolute;
    white-space: nowrap;
    font-weight: bolder;
    font-size:13px;
    top:85%;
    left:0;
    transition: all 200ms ease-in-out;
    animation: tip 2s infinite;
    animation-delay: 400ms;

}
@keyframes tip {
  0%, 49.999% {
    content: "Tap to give up";
  }
  50%, 100% {
    content: "Tap to give up";
  }
}
.submit2:hover::after{
    content: "";
    position: absolute;
    white-space: nowrap;
    font-weight: bolder;
    color:black;
    font-size:13px;
    top:115%;
    left:40%;
    transition: all 200ms ease-in-out;
    animation: tip1 2s infinite;
    animation-delay: 400ms;

}
@keyframes tip1 {
  0%, 49.999% {
    content: "Restart game";
  }
  50%, 100% {
    content: "Restart game";
  }
}

.about{
  margin-top: 100px;
  width:100vw;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

transition: all 200ms ease-in-out;
position: relative;
z-index: 1;
}


.about::after {
  content: "";
  position: absolute;
  inset: 0; /* covers the whole element */
  z-index: 2; /* puts shadow on top */
  pointer-events: none; /* so it won’t block clicks */
  animation:foot 1.5s ease-in-out infinite;
}

@keyframes foot {
  0%,100% {
        box-shadow: 0 0 3px rgba(0, 0, 0, 1);
    
    }
   50%{
      box-shadow: 0 0 5px rgba(0, 0, 0, 1);
   }
}
@media (max-width: 768px) {
    
    .submit:active,.submit2:active{
            transform: scale(0.90);
            box-shadow:12px 12px 12px 2px rgba(0,0,0,0.1) inset,-5px -5px 5px rgba(0,0,0,0.1) inset;
        transition: all 200ms ease-in-out;
        }
        
}


/*
.heartcont{
    position: relative;
    display:inline-block;
    cursor: pointer;
}
.heartcont::after {
  content: "No Profile Photo";
  position: absolute;
   place below SVG 
  transform: translateX(-50%);
  
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.heartcont:hover::after {
  opacity: 1;
  visibility: visible;
  animation: tooltipText 3s infinite;
}

@keyframes tooltiptext {
  0%, 49.999% {
    content: "No Profile Photo";
  }
  50%, 100% {
    content: "Tap to Set";
  }
}*/
